
<div id="nav-wrapper" class="wrapper">
	
<div class="container">
		<div class="eight columns">
			<h1><a href="/"><r:site_name /></a></h1>
		</div>
		<div class="eight columns">
		
			<div id="searchbox">
		
				<ul id="search-box">
					<li>
						<form class="form-wrapper cf" action="http://search.wvu.edu/search" method="get" id="search-form">
							<label class="visuallyhidden focusable" for="q">Search</label>
							<input class="text" id="q" maxlength="256" name="q" placeholder="Search..." size="32" type="text" />
							<input class="hidden" id="as_sitesearch" name="as_sitesearch" type="hidden" value="it.wvu.edu" />
							<input class="hidden" id="sort" name="sort" type="hidden" value="date:D:L:d1" />
							<input class="hidden" id="output" name="output" type="hidden" value="xml_no_dtd" />
							<input class="hidden" id="ie" name="ie" type="hidden" value="UTF-8" />
							<input class="hidden" id="oe" name="oe" type="hidden" value="UTF-8" />
							<input class="hidden" id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend">
							<input class="hidden" id="client" name="client" type="hidden" value="default_frontend" />
							<input class="submit" name="btnG" type="submit" value="Search" />
						</form>
						<ul data-ga="quicklinks">
							<li><a href="http://myid.wvu.edu">MyID</a></li>
							<li><a href="https://ecampus.wvu.edu/">eCampus</a></li>
							<li><a href="/support/service-desk">Help Desk</a></li>
							<li><a href="http://oit.wvu.edu/training/">Training</a></li>
							<li><a href="/services/wireless">Wireless Access</a></li>
							<li><a href="http://myaccess.wvu.edu/">MyAccess</a></li>
							<li><a href="/services/software">Software & Downloads</a></li>
							<li><a href="https://oit.wvu.edu/office365/">Office 365</a></li>
							<li><a href="/services/labs">Computer Labs</a></li>
							<li><a href="http://idesign.wvu.edu/">CTEC Classrooms</a></li>
							<li><a href="/it-units/tsc/antivirus">Anti-Virus Software</a></li>
							<li><a href="https://filelocker.wvu.edu/login">File Locker</a></li>
							<li><a href="https://masterapps-s.wvu.edu/Citrix/XenApp/auth/login.aspx">Master Apps</a></li>
							<li><a href="https://oitgartner.wvu.edu:444/default.asp">Gartner</a></li>
						</ul>
					</li>
				</ul>
			</div>
		
			<div id="audience-nav">
				<r:editable_region name="audience_nav" scope="site" />
			</div>
		
		</div>




		<nav class="sixteen columns" role="navigation">
		  <r:site_menu />
		</nav> <!-- close nav -->
	</div>
</div>


