<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><r:breadcrumbs text_only="true" no_root="true" reverse="true" /> | <r:site_name /> | West Virginia University</title>
    <meta name="description" content="<r:page:meta_description />" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="//slate.wvu.edu//themes/shared/webstandards/html5/stylesheets/global2013-v2.css" rel="stylesheet">
    <r:include_stylesheet name="styles, searchbox" />

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <![endif]-->
    <!-- HTML5 Shiv is *required* for IE to recognize the new HTML5 tags. -->

  </head>
  <body id="<r:page:template:name />" class="page-<r:page:id />">

    <r:partial name="masthead" />

    <r:partial name="header" />
	
	<r:yield />
    

	<r:partial name="footer" />


	<r:include_javascript name="jquery-1.10.2.min" />
	<r:include_javascript name="jquery.tools.min" />
	<r:include_javascript name="modernizr.custom" />
	<r:include_javascript name="navigation-option-6" />

	<script type="text/javascript">  
	
		$(document).ready(function() {

		// Scrollable sliders

			var $scrollables = $(".scrollable").scrollable({circular: true, speed:600 }).autoscroll({ autoplay: true, interval:6000 });

			$scrollables.each(function() {
					var $itemsToClone = $(this).scrollable().getItems().slice(1);
					var $wrap = $(this).scrollable().getItemWrap();
					var clonedClass = $(this).scrollable().getConf().clonedClass;
					$itemsToClone.each(function() {
						$(this).clone(true).appendTo($wrap)
							.addClass(clonedClass + ' hacked-' + clonedClass);
					})
				});
		
		});
	
		jQuery(function($){
			$.supersized({
		
				//Functionality
				slideshow               :   1,		//Slideshow on/off
				autoplay				:	1,		//Slideshow starts playing automatically
				start_slide             :   1,		//Start slide (0 is random)
				random					: 	0,		//Randomize slide order (Ignores start slide)
				slide_interval          :   20000,	//Length between transitions
				transition              :   6, 		//0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
				transition_speed		:	500,	//Speed of transition
				new_window				:	1,		//Image links open in new window/tab
				pause_hover             :   0,		//Pause slideshow on hover
				keyboard_nav            :   1,		//Keyboard navigation on/off
				performance				:	1,		//0-Normal, 1-Hybrid speed/quality, 2-Optimizes image quality, 3-Optimizes transition speed // (Only works for Firefox/IE, not Webkit)
				image_protect			:	1,		//Disables image dragging and right click with Javascript
				image_path				:	'<%= images_path %>/', //Default image path

				//Size & Position
				min_width		        :   1720,		//Min width allowed (in pixels)
				min_height		        :   580,		//Min height allowed (in pixels)
				vertical_center         :   0,		//Vertically center background
				horizontal_center       :   1,		//Horizontally center background
				fit_portrait         	:   0,		//Portrait images will not exceed browser height
				fit_landscape			:   0,		//Landscape images will not exceed browser width
			
				//Components
				navigation              :   1,		//Slideshow controls on/off
				thumbnail_navigation    :   0,		//Thumbnail navigation
				slide_counter           :   0,		//Display slide numbers
				slide_captions          :   1,		//Slide caption (Pull from "title" in slides array)
				slides 					:  	[		//Slideshow Images
													{image : '<%= images_path %>/pioneering.jpg', title : '<h1>We Are <br />Pioneering</h1><a href="/pioneering" class="more">Read More</a>'},  
													{image : '<%= images_path %>/passionate.jpg', title : '<h1>We Are <br />Passionate</h1><a href="/passionate" class="more">Read More</a>'},
													{image : '<%= images_path %>/innovative.jpg', title : '<h1>We Are <br />Innovative</h1><a href="/innovative" class="more">Read More</a>'},   
													{image : '<%= images_path %>/tireless.jpg', title : '<h1>We Are <br />Tireless</h1><a href="/tireless" class="more">Read More</a>'},  
													{image : '<%= images_path %>/caring.jpg', title : '<h1>We Are <br />Caring</h1><a href="caring" class="more">Read More</a>'}
											]
										
			}); 	
		
			// initialize scrollable
			$(".scrollable").scrollable();
			
		
	    });


    
	</script>

  </body>
</html>