<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><r:breadcrumbs text_only="true" no_root="true" reverse="true" /> | <r:site_name /> | West Virginia University</title>
    <meta name="description" content="<r:page:meta_description />" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="google-site-verification" content="2efFFg2owL7lsGEwOty4MaCem30GC9UQGxKGj1EwIx8" />
    
    <r:include_stylesheet name="global2013-v2, responsive-nav, styles, searchbox" />

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <!-- HTML5 Shiv is *required* for IE to recognize the new HTML5 tags. -->

	


  </head>
  <body id="<r:page:template:name />" class="page-<r:page:id />">

    <r:partial name="masthead" />

    <r:partial name="header" />
	
	<r:yield />
    

	<r:partial name="footer" />



	<r:include_javascript name="jquery-1.10.2.min" />
	<r:include_javascript name="jquery.tools.min2" />
	<r:include_javascript name="modernizr.custom" />
	<r:include_javascript name="navigation-option-6" />
	<r:include_javascript name="responsive-nav.min" />
	
	<!-- Fix IE 8 and below so that media queries get supported -->
	<!--[if lt IE 9]>

		<script src="/javascripts/respond.min.js"></script>
	<![endif]-->

	<script type="text/javascript">  
	
		$(document).ready(function() {

		// Scrollable sliders

			var images = ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg'];
		
		
			$('.background-photo').css({'background-image': 'url(/images/' + images[Math.floor(Math.random() *      images.length)] + ')'});
			

			var $scrollables = $(".scrollable").scrollable({circular: true, speed:600 }).autoscroll({ autoplay: false, interval:60000 });

			$scrollables.each(function() {
					var $itemsToClone = $(this).scrollable().getItems().slice(1);
					var $wrap = $(this).scrollable().getItemWrap();
					var clonedClass = $(this).scrollable().getConf().clonedClass;
					$itemsToClone.each(function() {
						$(this).clone(true).appendTo($wrap)
							.addClass(clonedClass + ' hacked-' + clonedClass);
					})
				});
		
		});
	
		jQuery(function($){
			 	
		
			// initialize scrollable
			$(".scrollable").scrollable();
			
		
	    });

		var nav = responsiveNav(".nav-collapse");
		
		if (typeof jQuery != 'undefined') {
		  jQuery(document).ready(function($) {
		    var filetypes = /\.(zip|exe|dmg|pdf|doc.*|xls.*|ppt.*|mp3|txt|rar|wma|mov|avi|wmv|flv|wav)$/i;
		    var baseHref = '';
		    if (jQuery('base').attr('href') != undefined) baseHref = jQuery('base').attr('href');
 
		    jQuery('a').on('click', function(event) {
		      var el = jQuery(this);
		      var track = true;
		      var href = (typeof(el.attr('href')) != 'undefined' ) ? el.attr('href') :"";
		      var isThisDomain = href.match(document.domain.split('.').reverse()[1] + '.' + document.domain.split('.').reverse()[0]);
		      if (!href.match(/^javascript:/i)) {
		        var elEv = []; elEv.value=0, elEv.non_i=false;
		        if (href.match(/^mailto\:/i)) {
		          elEv.category = "email";
		          elEv.action = "click";
		          elEv.label = href.replace(/^mailto\:/i, '');
		          elEv.loc = href;
		        }
		        else if (href.match(filetypes)) {
		          var extension = (/[.]/.exec(href)) ? /[^.]+$/.exec(href) : undefined;
		          elEv.category = "download";
		          elEv.action = "click-" + extension[0];
		          elEv.label = href.replace(/ /g,"-");
		          elEv.loc = baseHref + href;
		        }
		        else if (href.match(/^https?\:/i) && !isThisDomain) {
		          elEv.category = "external";
		          elEv.action = "click";
		          elEv.label = href.replace(/^https?\:\/\//i, '');
		          elEv.non_i = true;
		          elEv.loc = href;
		        }
		        else if (href.match(/^tel\:/i)) {
		          elEv.category = "telephone";
		          elEv.action = "click";
		          elEv.label = href.replace(/^tel\:/i, '');
		          elEv.loc = href;
		        }
		        else track = false;
 
		        if (track) {
		          _gaq.push(['_trackEvent', elEv.category.toLowerCase(), elEv.action.toLowerCase(), elEv.label.toLowerCase(), elEv.value, elEv.non_i]);
		          if ( el.attr('target') == undefined || el.attr('target').toLowerCase() != '_blank') {
		            setTimeout(function() { location.href = elEv.loc; }, 400);
		            return false;
		      }
		    }
		      }
		    });
		  });
		}
    
	</script>

  </body>
</html>