---
layout: default
---
 
<div class="container">
	<div class="sixteen columns">
		<r:breadcrumbs ul_class="breadcrumbs" />
	</div>

	<div id="content-wrapper" class="sixteen columns">
	

		<main class="sixteen columns alpha omega" role="main">
	
  
			<div class="inner-wrapper">
		  	  <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
  
	   	   	<r:editable_region name="sub_nav" />
  
		  	  <r:editable_region name="main" />
  
	  	 
			</div>
	  
  
		</main><!-- /.main -->
 
 	
	   	 <div class="sidebar eight columns alpha" role="complementary">
			 <div class="inner-wrapper">
	   	 		<r:editable_region name="sidebar_1" />
			</div>
	   	 </div> <!-- /.sidebar -->
 
	   	 <div class="sidebar eight columns omega" role="complementary">
			 <div class="inner-wrapper">
	   	  	   <r:editable_region name="sidebar_2" />
		   </div>
	   	 </div> <!-- /.sidebar -->
	 	</div>
	 
	 </div>
 
</div>
