---
layout: default
---
    
<div id="services" class="wrapper">
	<div class="container">
		<div class="sixteen columns">
			<div id="scrollable-wrapper">
				<!-- "previous page" action -->
				<a class="prev browse left disabled"></a>
				<!-- root element for scrollable -->
				<div class="scrollable" id="scrollable">
				  <!-- root element for the items -->
				  <div class="items">
				    <div>
				      <div class="icon">
				        <a href="http://myid.wvu.edu">
				          <img id="" alt="MyID" title="" class="" data-asset-id="1154" src="http://it.sandbox.wvu.edu/files/b8c6e9e4-5202-43f5-91ff-d57c7bbded24/100x75">
				        </a>
				        <p>
				          <a href="http://myid.wvu.edu">MyID</a>
				        </p>
				      </div>
				      <div class="icon">
				        <a href="https://ecampus.wvu.edu/">
				          <img id="" alt="eCampus" title="" class="" data-asset-id="1512" src="http://it.sandbox.wvu.edu/files/42b338e5-26fd-4388-a16b-3223a06f7f68/100x75">
				        </a>
				        <p>
				          <a href="https://ecampus.wvu.edu/">eCampus</a>
				        </p>
				      </div>
				      <div class="icon">
				        <a href="/support/service-desk">
				          <img id="" alt="Service Desk" title="" class="" data-asset-id="1156" src="http://it.sandbox.wvu.edu/files/c7c5e098-46e5-444c-b972-883a879de40a/100x75">
				        </a>
				        <p>
				          <a href="/support/service-desk" data-page-id="590">Service Desk</a>
				        </p>
				      </div>
				      <div class="icon">
				        <a href="http://oit.wvu.edu/training/">
				          <img id="" alt="Training" title="" class="" data-asset-id="1158" src="http://it.sandbox.wvu.edu/files/e333857c-daa2-4997-98f6-9507ed4f1a80/100x75">
				        </a>
				        <p>
				          <a href="http://oit.wvu.edu/training/">Training</a>
				        </p>
				      </div>
				      <div class="icon">
				        <a href="/services/wireless">
				          <img id="" alt="Wireless" title="" class="" data-asset-id="1159" src="http://it.sandbox.wvu.edu/files/4823ca43-5d9a-42bc-94cd-6db8ab77dd91/100x75">
				        </a>
				        <p>
				          <a href="/services/wireless">Wireless Access</a>
				        </p>
				      </div>
				      <div class="icon">
				        <a href="http://myaccess.wvu.edu">
				          <img id="" alt="MyAccess" title="" class="" data-asset-id="1514" src="http://it.sandbox.wvu.edu/files/6dd0fc50-57b7-4e16-b60d-456c69a36163/100x75">
				        </a>
				        <p>
				          <a href="http://myaccess.wvu.edu">MyAccess</a>
				        </p>
				      </div>
				      <div class="icon">
				        <a href="/services/software">
				          <img id="" alt="Software" title="" class="" data-asset-id="1157" src="http://it.sandbox.wvu.edu/files/a29ef81a-6336-40e0-a2a3-22f632a5eb8c/100x75">
				        </a>
				        <p><a href="/services/software">Software &amp; Downloads</a></p>
				      </div>
				    </div>
				    <div>
				      <div class="icon">
				        <a href="https://oit.wvu.edu/office365/">
				          <img id="" alt="Office 365" title="" class="" data-asset-id="1155" src="http://it.sandbox.wvu.edu/files/5f76decc-0c27-4418-9f84-becbdb2b4e8e/100x75">
				        </a>
				        <p><a href="https://oit.wvu.edu/office365/">Office 365</a></p>
				      </div>
				      <div class="icon">
				        <a href="/services/labs">
				          <img id="" alt="Computer Labs" title="" class="" data-asset-id="1153" src="http://it.sandbox.wvu.edu/files/4c636fab-cdd4-42bc-ab6f-d0d6367b1a34/100x75">
				        </a>
				        <p>
				          <a href="/services/labs">Computer Labs</a>
				        </p>
				      </div>
				      <div class="icon">
				        <a href="http://idesign.wvu.edu/">
				          <img id="" alt="WVUiDesign" title="" class="" data-asset-id="1515" src="http://it.sandbox.wvu.edu/files/ce087b43-dc8a-41c6-b295-7cbad0cf909c/100x75">
				        </a>
				        <p><a href="http://idesign.wvu.edu/">CTEC Classrooms</a></p>
				      </div>
				      <div class="icon">
				        <a href="/it-units/tsc/antivirus">
				          <img id="" alt="Anti-Virus Software" title="" class="" data-asset-id="1519" src="http://it.sandbox.wvu.edu/files/2b767a0f-dc95-47a6-ba13-fe1adbd1aa50/100x75">
				        </a>
				        <p>
				          <a href="/it-units/tsc/antivirus">Anti-Virus Software</a>
				        </p>
				      </div>
				      <div class="icon">
				        <a href="http://filelocker.wvu.edu/">
				          <img id="" alt="FileLocker" title="" class="" data-asset-id="1516" src="http://it.sandbox.wvu.edu/files/588e813b-3ecb-4fa5-8044-eeecff01e25a/100x75">
				        </a>
				        <p>
				          <a href="http://filelocker.wvu.edu/">File Locker</a>
				        </p>
				      </div>
				      <div class="icon">
				        <a href="http://masterapps.wvu.edu/">
				          <img id="" alt="MasterApps" title="" class="" data-asset-id="1517" src="http://it.sandbox.wvu.edu/files/a046f76b-7c29-4f53-92d6-31185a9b3fc5/100x75">
				        </a>
				        <p><a href="http://masterapps.wvu.edu/">Master Apps</a></p>
				      </div>
				      <div class="icon">
				        <a href="https://oitgartner.wvu.edu:444/default.asp">
				          <img id="" alt="Gartner" title="" class="" data-asset-id="1513" src="http://it.sandbox.wvu.edu/files/ac88df12-d0e6-47d1-86b9-19188f2032e2/100x75">
				        </a>
				        <p>
				          <a href="https://oitgartner.wvu.edu:444/default.asp">Gartner</a>
				        </p>
				      </div>
				    </div>
				  </div>
				</div>
				<!-- "next page" action -->
				<a class="next browse right"></a>
			</div>
			
		</div>
		
		
		
	</div>
</div>
<div id="main-wrapper" class="wrapper">
<div class="container">
	<main class="main sixteen columns" role="main">
	
		
		<aside class="sidebar five columns alpha" role="complementary">

				<r:editable_region name="sidebar_1" />

  
		</aside>

		<aside id="maintenance-schedule" class="sidebar five columns" role="complementary">
			<h3>Maintenance Schedule</h3>
			<ul>
				<script language="javascript" src="http://cal.wvu.edu/EventListSyndicator.aspx?type=N&number=3&category=132-226&adpid=23&nem=No+events+are+available+that+match+your+request&sortorder=ASC"></script>
			</ul>
				<r:editable_region name="sidebar_2" />
			
		</aside>
	
		<aside class="sidebar two columns" role="complementary">

				<r:editable_region name="sidebar_3" />

		</aside>
	
		<aside class="sidebar four columns omega" role="complementary">

				<r:editable_region name="sidebar_4" />

		</aside>
		

  
	</main><!-- /.main -->

	
</div>
</div>