---
layout: default
---
 
<div class="container">
	<div class="sixteen columns">
		<r:breadcrumbs ul_class="breadcrumbs" />
	</div>

	<div id="content-wrapper" class="sixteen columns dynamic-subnav">
	

		<aside class="four columns alpha">
			
				<div id="subnav">
					<r:editable_region name="subnav_info_security" scope="site" />
				</div>
			
		</aside>
		<main class="main twelve columns alpha" role="main">
	
			<div class="inner-wrapper">
		  	  <h2 class="no-top-margin"><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
			</div>
	
		  	<div id="quick-links" class="eight columns alpha">
				<div class="inner-wrapper no-top-padding">
		  			<r:editable_region name="main" />
				</div>
		  	</div>
	  
		  	<div id="quick-links" class="eight columnsomega">
				<div class="inner-wrapper no-top-padding">
		  			<r:editable_region name="quick_links" />
				</div>
      			 <div class="inner-wrapper no-top-padding">
      				
      	   	  	   	  <r:editable_region name="sidebar_4" />
      		
      		   </div>
		  	</div>
	  	
		
   	   	 <aside class="sidebar six columns alpha" role="complementary">
   			 <div class="inner-wrapper">
   				 <div class="faded-background">
   	   	 			 <r:editable_region name="sidebar_2" />
   				 </div>
   			</div>
   	   	 </aside> <!-- /.sidebar -->
 
   	   	 <aside class="sidebar six columns omega" role="complementary">
   			 <div class="inner-wrapper">
   				 <div class="faded-background">
   	   	  	   	  <r:editable_region name="sidebar_3" />
   		   		</div>
   		   </div>
   	   	 </aside> <!-- /.sidebar -->
  
		</main><!-- /.main -->
 
 	
	   	 
	 
	 
	 </div>
</div>