---
layout: default
---
 



<div class="container">
	<div class="sixteen columns">
		<r:breadcrumbs ul_class="breadcrumbs" />
	</div>

	<div id="content-wrapper" class="sixteen columns dynamic-subnav">
	

		<aside class="four columns alpha">
			
				<div id="subnav">
										
					<r:if_page_depth_eq page_depth="1">
					    <nav role="navigation">
					      <r:sub_menu />
					    </nav>
					</r:if_page_depth_eq>
					<r:if_page_depth_gt page_depth="1">
					    <nav role="navigation">
					      <r:ancestor_menu ul_id="ancestor" start_depth="1" ul_class="menu" active_class="active" open_class="open" />
					    </nav>
					</r:if_page_depth_gt>
				</div>
			
		</aside>
		<main class="main twelve columns alpha" role="main">
	
			<div class="inner-wrapper">
		  	  <h2 class="page-title"><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
			</div>
			
		  	<div id="quick-links" class="twelve columns alpha omega">
				<div class="inner-wrapper no-top-padding">
		  			<r:editable_region name="quick_links" />
				</div>
			</div>
	
		  	<div class="eight columns alpha">
				<div class="inner-wrapper no-top-padding">
		  			<r:editable_region name="main" />
				</div>
		  	</div>
	  
		  	<div class="four columns omega">
	  			<div class="inner-wrapper no-top-padding">
			
	  	   	  	   	  <r:editable_region name="sidebar_1" />
	
	  			</div>
		  	</div>
	  	
			<div class="twelve columns alpha omega">
	      	   	 <aside class="sidebar six columns alpha" role="complementary">
	      			 <div class="inner-wrapper">
	      			
	      	   	 			 <r:editable_region name="sidebar_2" />
	      			
	      			</div>
	      	   	 </aside> <!-- /.sidebar -->
 
	      	   	 <aside class="sidebar six columns omega" role="complementary">
	      			 <div class="inner-wrapper">
	      			
	      	   	  	   	  <r:editable_region name="sidebar_3" />
	      		   
	      		   </div>
	      	   	 </aside> <!-- /.sidebar -->
			</div>
   	   	 
		 	<div class="twelve columns alpha omega">
	      	   	 <aside class="sidebar four columns alpha" role="complementary">
	      			 <div class="inner-wrapper">
	      				
	      	   	 			 <r:editable_region name="sidebar_4" />
	      				
	      			</div>
	      	   	 </aside> <!-- /.sidebar -->
 
	      	   	 <aside class="sidebar four columns" role="complementary">
	      		
	      				 
	      	   	  	   	  <r:editable_region name="sidebar_5" />
	      		   		
	      		
	      	   	 </aside> <!-- /.sidebar -->
		 
	      	   	 <aside class="sidebar four columns omega" role="complementary">
	      			 <div class="inner-wrapper">
	      				 
	      	   	  	   	  <r:editable_region name="sidebar_6" />
	      		   		
	      		   </div>
	      	   	 </aside> <!-- /.sidebar -->
		 	</div>
   	   	 
  
		</main><!-- /.main -->
 
 	
	   	 
	 
	 
	 </div>
</div>