---
layout: default
---
 
<div class="container">
	<div class="sixteen columns">
		<r:breadcrumbs ul_class="breadcrumbs" />
	</div>

	<div id="content-wrapper" class="sixteen columns">
	

		<main class="main sixteen columns alpha omega" role="main">
	
			<div class="inner-wrapper">
		  	  <h2 class="page-title"><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
			</div>
			
		  	<div id="quick-links" class="sixteen columns alpha omega">
				<div class="inner-wrapper no-top-padding">
		  			<r:editable_region name="quick_links" />
				</div>
			</div>
			
		  	<div class="twelve columns alpha">
				<div class="inner-wrapper no-top-padding">
		  			<r:editable_region name="main" />
				</div>
			</div>
	  
		  	<div class="four columns omega">
      			 <div class="inner-wrapper no-top-padding">
      				
      	   	  	   	  <r:editable_region name="sidebar_1" />
      		
      		   </div>
		  	</div>
	  	
			<div class="sixteen columns alpha omega">
	      	   	 <aside class="sidebar eight columns alpha" role="complementary">
	      			 <div class="inner-wrapper">
	      		
	      	   	 			 <r:editable_region name="sidebar_2" />
	      	
	      			</div>
	      	   	 </aside> <!-- /.sidebar -->
 
	      	   	 <aside class="sidebar eight columns omega" role="complementary">
	      			 <div class="inner-wrapper">
	      			
	      	   	  	   	  <r:editable_region name="sidebar_3" />
	      	
	      		   </div>
	      	   	 </aside> <!-- /.sidebar -->
			</div>
   	   	 
		 	<div class="twelve columns alpha omega">
	      	   	 <aside class="sidebar one-third column alpha" role="complementary">
	      			 <div class="inner-wrapper">
	      		
	      	   	 			 <r:editable_region name="sidebar_4" />
	      	
	      			</div>
	      	   	 </aside> <!-- /.sidebar -->
 
	      	   	 <aside class="sidebar one-third column" role="complementary">
	      			 <div class="inner-wrapper">
	      
	      	   	  	   	  <r:editable_region name="sidebar_5" />
	 
	      		   </div>
	      	   	 </aside> <!-- /.sidebar -->
		 
	      	   	 <aside class="sidebar one-third column omega" role="complementary">
	      			 <div class="inner-wrapper">
	 
	      	   	  	   	  <r:editable_region name="sidebar_6" />

	      		   </div>
	      	   	 </aside> <!-- /.sidebar -->
		 	</div>
   	   	 
  
		</main><!-- /.main -->
 
 	
	   	 
	 
	 
	 </div>
</div>
